
  ul{
    background-color: grey;
  }
  ul li{
    list-style-type: none;
    /* float: left; */
    padding-left: 20px;
    margin: 10px;
  }
  ul li a {
    color:white;
  }
  ul::after, ul::before{
    content: "";
    display: block;
    clear:both;
  }
  
.test{
  color: lightskyblue;
  background-color: grey;
}

  .box{
    font-weight: bold;
  }